# Copy to .env before: docker compose up
COMPOSE_PROJECT_NAME=capstone

MYSQL_ROOT_PASSWORD=capstone_root
MYSQL_DATABASE=capstone
MYSQL_USER=capstone
MYSQL_PASSWORD=capstone

DB_HOST=db
DB_PORT=3306
DB_DATABASE=capstone
DB_USERNAME=capstone
DB_PASSWORD=capstone

REDIS_HOST=redis
REDIS_PORT=6379

APP_ENV=local
