COMPOSE_PROJECT_NAME=capstone-php-slice-prod-check

APP_ENV=production
APP_DEBUG=false

MYSQL_DATABASE=capstone
MYSQL_USER=capstone
MYSQL_PASSWORD=example
MYSQL_ROOT_PASSWORD=example

DB_HOST=db
REDIS_HOST=redis
