COMPOSE_PROJECT_NAME=capstone-php-slice-dev

APP_ENV=local
APP_DEBUG=true

MYSQL_DATABASE=capstone
MYSQL_USER=capstone
MYSQL_PASSWORD=capstone
MYSQL_ROOT_PASSWORD=rootsecret

DB_HOST=db
REDIS_HOST=redis
